remove default margin padding */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none
}

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

/* body font family set */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    
}

.main-container{
    max-width: 1300px;
    
    margin: auto;
   
   
}

.navbar{
background: #562EFF;
width: 1300px;
position: relative;

 
display: grid;
    grid-template-columns: 1fr 1fr;
}
.header-image{
    /* position: absolute; */
    /* height: 27.375;
width: 34.75rem; */
Width :556.01px;
Height :438px;

border-radius: 0px;

}
.header-image img{
    Width :556.01px;
Height :438px;
}
.header-text{
    /* position: absolute; */
    height: 12.5rem;
width: 30.3rem;
text-align: center;
border-radius: nullpx;

}
.header-text h2{
    font-family: Poppins;
font-size: 3rem;
font-style: normal;
font-weight: 700;
/* line-height: 5rem; */
/* letter-spacing: 0px; */


}

 button{
     width: 10.5rem;
     height: 2.5rem;
     background-color: #E02C6D;
     color: white;
 }



/* navbar end */

/* main section start */
main{
    
    
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-one{
    /* max-width: 62.63rem; */
    /* margin: auto; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    width: 1100px;
    background-color: hotpink;
    margin: auto;
    /* padding: 4.37rem; */
    
    
    

    
    
}
.player-div{
    /* height: 29.63rem;
    width: 20.25rem; */
    width: 330px;
    height: 470px;
    border-radius: 0px;
    text-align: center;
    margin-left: 14px;
    /* border: 5px solid #dddddd; */
   
   
    
}
.player-div img{
    width: 100%;
    /* margin-right: 0.625rem; */
   
}
.statistic{
    max-width: 1100px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 60px;
    padding: 50px 0;
    margin: 30px 0;
    margin: auto;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container{
    height: 13.3rem;
width: 30.25rem;
border-radius: 0px;
text-align: center;

}
.ball img{
    max-width: 100%;
}
.icon img{
    width:10%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0.5rem;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  tr:nth-child(2) {
    background-color: green;
  }
  span img{
      width: 3.75rem;
  }
   .time{
      font-size: 2rem;
      border: 2px solid gray;
      border-radius: 0.625rem;
  }
  .next-match{
     text-align: center;
     padding: 2rem;
     
  }
  .match-text{
      
  }
.next-matches{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    text-align: center;
    padding: 3rem;
    margin: 1.25rem 0;
    background-color: honeydew;
    
}
.stadium{
position: relative;
opacity: 0.7;
}

.stadium img{
    width: 100%;
}
/* media query */
@media (max-width:660px) {
    .main-container{
        max-width: 100%;
    }
    .top-one{
        grid-template-columns: 1fr;
        width: auto;
        
    }
    .top-three{
        flex-direction: column;
    }
    .navbar{
        grid-template-columns: 1fr;
        max-width: 100%;
        margin: auto;
        /* text-align: center; */

    }
    .next-matches{
        grid-template-columns: 1fr;
    }
    .player-div{
        
        
       margin-left: 0;
       
        
    }
    .player-div img{
        max-width: 100%;
    }
    
    .header-image{
       
        /* width: 329px;
        height: 259.17px; */
        max-width: 100%;
        text-align: center;
        margin: auto;
        
    }
    .header-image img{
width: auto;
    }
    .header-text {
        /* height: 138px;
        width: 278px; */
        max-width: 100%;
        
        border-radius: nullpx;
        text-align: start;
        padding-left: 15px;
          
    }
    .statistic{
        grid-template-columns: 1fr;
        margin: auto;
    }
    .header-text h2{
        font-size: 1.5rem;
    }
    .footer{
        width: 100%;
    }
    .footer-container img{
        width: 50%;
    }
}